.hidden {
    display: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    }

ul, ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    line-height: 1.5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }
}


/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu,
.page-address {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-web {
    color: #2E2F42;  
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.burger-bth {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-bth {
        display: none;
    }

    .header-menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .page-address {
        font-style: normal;
        display: block;
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-link {
        display: block;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        padding: 24px 0;
        position: relative;
        color: #404bbf;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    
    .active {
        color: #404bbf;
    }
    
    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    .nav-link:hover::after {
        transform: scaleX(1);
    }

    .page-addressmp {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }



    .nav-link:active,
    .nav-link:focus,
    .nav-link:hover,
    .address-link:focus,
    .address-link:hover {
        color: #404BBF;
    }
}

@media screen and (min-width:1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    

    
    .nav-link:hover::after {
        transform: scaleX(1);
    }

    .page-addressmp {
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

    .address-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
    margin-right: auto;
}


@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0;
    fill: var(--cornflower);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #404BBF;
}

.mobile-menu-nav-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.mobile-menu-nav-item:active,
.mobile-menu-nav-link:active {
    color: #404BBF
}

.mobile-menu-nav-list li {
    margin-bottom: 20px;
}

.mobile-address {
    margin-right: auto;
}

.mobile-address-list li {
    margin-bottom: 24px;
}

.mobile-address-menu {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--iris);
}

.mobile-address-menu-number {
    color: #404BBF;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
}

.mobile-address-menu:active {
    color: #404BBF;
}

.mobile-soc-icon {
    fill: #f4f4fd;
}

.mobile-icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 48px;
}

.mobile-soc {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-mobile-icon {
    width: 40px;
    height: 40px;
}


/* ======Section 1======= */

.section-first {
        background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/our-background/Mob-Dark-bg.jpg);
        max-width: 320px;
        min-height: 432px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: #2e2f42;
        padding-top: 72px;
        padding-bottom: 72px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media screen and (max-width: 767px) and (min-resolution: 192dpi) {
        .section-first {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/our-background/Mob-Dark-bg@x2.jpg);
        }
    }

    .section-text {
        max-width: 216px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    }

    @media screen and (min-width:768px) {
        .section-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/our-background/Tablet-Dark-bg.jpg);
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        }

        .section-text {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        }
    }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
        .section-first {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/our-background/Tablet-Dark-bg@x2.jpg);
        }
    }

    @media screen and (min-width:1158px) {
        .section-first {
            max-width: 1440px;
            padding-top: 188px;
            padding-bottom: 188px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/our-background/people-office.jpg);
        }

        .section-text {
            margin-bottom: 48px;
        }
    }

    @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
        .section-first {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/our-background/people-office@x2.jpg);
        }
    }


    .button-order {
        font-family: "Roboto", sans-serif;
        display: block;
        border: none;
        border-radius: 4px;
        margin-top: 48px;
        margin-right: auto;
        margin-left: auto;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
        background-color: #4d5ae5;
        padding: 16px 32px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }
    
    .button-order .container {
        text-align: center;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;
    }


    /*======Section 2=======*/

    .icons-section {
        display: none;
    }

    .features-htxt {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
       text-align: center; 
    }

    .features-ptxt {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;  
        margin: 0;
    }

    .features-text {
        padding-top: 52px;
        display: flex;
        flex-wrap: wrap;
        gap: 72px;
    }

    .features-item {
        padding-bottom: 72px;
    }

    @media screen and (min-width: 768px) {
        .strategy-container {
            max-width: 736px;
        }

        .features-text {
            column-gap: 24px;
            row-gap: 72px;
        }

        .features-htxt {
            text-align: start;
        }

        .features-item {
            width: calc((100% - 24px)/2);
        }
    }

    @media screen and (min-width: 1156px) {
        .page-section-two {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        .strategy-container {
            max-width: 1128px;
        }

        .features-item {
            width: calc((100% - 3*24px)/4);
        }

        .icons-section {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .icons-main {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            background: #f4f4fd;
            margin-bottom: 8px;    
        }

        .features-htxt {
            font-size: 20px;
            line-height: 1.2;
        }

        .features-ptxt {
            font-weight: 400;
        }
    }

    /*==========Section 3==============*/

    .team-container {
        align-items: center;
    }

    .page-section-three {
        background: #f4f4fd;
        width: 100%;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .section-team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }

    .list-person-social {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 72px;
    }

    .section-threeli  {
        background-color: #fff;
        border-radius: 0 0 4px 4px;
        max-width: 264px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        margin-bottom: 72px;
    }

    .third-section-item-description {
        padding-top: 32px;
        padding-bottom: 32px;
        text-align: center
    }

    .txt-icon {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .pxp-icon {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 8px;   
    }

    .list-person-social {
        display: flex;
        gap: 24px;
        justify-content: center;   
    }

    .list-icon-team-social {
        width: 40px;
        height: 40px;    
    }

    .link-team-social {
        display: flex;
        gap: 24px;
        fill: none;
        stroke: #f4f4fd;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link-team-social:hover,
    .link-team-social:focus {
        background-color: #404bbf;
    }

   @media screen and (min-width: 768px) {
        .page-section-three {
            padding-top: 116px;
            padding-bottom: 76px;  
        }

        .page-text-bord {
            align-items: center;
            justify-content: center;
            column-gap: 24px;
            row-gap: 64px;   
        }

        .section-threeli {
            width: calc((100% - 24px) / 2);
        }

    }

   @media screen and (min-width: 1158px) {
        .page-section-three {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        .page-text-bord {
            display: flex;
            gap: 24px;   
        }

        .section-threeli {
            width: calc((100% - 3*24px)/4);    
        }

    
    }

    /*========Section 4========*/

    .last-section {
        padding-top: 96px;
        padding-bottom: 96px;
        width: 100%;    
    }

    .text-portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;    
    }

    .page-txt-next {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;   
    }
    
    .page-txt-next-item {
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
        max-width: 288px;   
    }

    .forth-section-wrap-text {
        padding: 32px 16px;
        border-top: none;
        border-bottom: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;   
    }

    .sec-main-txt {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;  
    }

    .main-txt {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;   
    }

    @media screen and (max-width:1157px) {
        .overlay {
            display: none;
        }
     }

     @media screen and (min-width: 768px) {
        .page-txt-next {
            align-items: center;
            justify-content: center;
            column-gap: 24px;
            row-gap: 72px;   
        }

        .page-txt-next-item {
            width: calc((100% - 24px)/2); 
        }
     }

     @media screen and (min-width: 1158px) {
        .last-section {
            padding-top: 120px; 
            padding-bottom: 120px; 
        }

        .portfolio-container {
            max-width: 1128px;
        }

        .page-txt-next {
            column-gap: 24px;
            row-gap: 48px;   
        }

        .page-txt-next-item {
            width: calc((100% - 48px)/3);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
        }

        .forth-section-image {
            position: relative;
            overflow: hidden; 
        }

        .overlay {
            position: absolute;
            top: 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            padding: 40px 32px;
            background-color: #4d5ae5;
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin: 0; 
        }

        .page-txt-next-item:hover .overlay {
            transform: translateY(0%); 
        }

        .page-txt-next-item:hover,
        .page-txt-next-item:focus {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);  
        }
     }



     /*=========Footer============*/

     .footer {
        background-color: #2e2f42;
        width: 100%;
        padding-top: 96px;
        padding-bottom: 96px; 
     }

     .container-footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 72px;  
     }

    .logo-studios {
        color: #f4f4fd;
     }

     .logo-footer {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        color: #4D5AE5;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
     }

     .footer-text {
        display: block;
        padding: 0px 16px;
        width: 288px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;  
     }

     .footer-social-media {
        padding: 0px 56px;
     }

     .media-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align: center;
     }

     .footer-list {
        display: flex;
        justify-content: center;
        gap: 16px;
     }

     .footer-social {
        width: 40px;
        height: 40px; 
     }

     .footer-link {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
     }

     .footer-link:hover,
     .footer-link:focus {
        background-color: #31d0aa;
        transform: background-color;
     }

     .footer-icon {
        fill: #f4f4fd; 
     }

     .container-form-footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px; 
     }

     .footer-form {
        display: flex;
        flex-wrap: wrap; 
        gap: 16px;    
     }

     .modal-input-footer {
        border: 1px solid #fff;
        border-radius: 4px;
        min-width: 288px;
        height: 40px;
        background-color: transparent;
        justify-content: center;
        padding-left: 16px;
        color: #ffffff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        background-color: transparent;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);  
     }

     .text-soc-footer {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff  
     }

     .footer-btn {
        display: flex;
        margin: 0 auto;
        border-radius: 4px;
        cursor: pointer;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        border: none;
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #FFFFFF;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
     }

     .footer-btn:hover,
     .footer-btn:focus {
        background-color: #404BBF;
     }

     .modal-icon-btn-footer {
        margin-left: 16px;
        fill: #FFFFFF; 
     }

     .modal-input-footer::placeholder {
        color: #FFFFFF; 
     }

     .modal-input-footer:hover,
     .modal-input-footer:focus {
        border: #31d0aa;
     }

     @media screen and (min-width: 768px) {
        .footer {
            padding-left: 108px;
            padding-right: 108px;  
        }

        .container-footer {
            align-items: flex-start;
            column-gap: 24px;
            row-gap: 72px;
        }

        .footer-info {
            gap: 24px;
            row-gap: 72px;
            align-items: flex-start;   
        }

        .logo-footer {
            padding: 0;
        }

        .footer-text {
            width: 264px; 
        }

        .media-text {
            text-align: start;
        }

        .text-soc-footer {
            display: block;
            margin-bottom: 16px; 
        }

        .footer-text {
            padding: 0;
        }

        .container-form-footer {
            display: block;
            margin-left: 0;  
        }

        .modal-input-footer {
            min-width: 264px;
            margin-right: 24px;
        }

        .footer-social-media {
            padding: 0px 24px;
            margin-right: 0;
        }
     }

     @media screen and (min-width: 1158px) {
        .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 100px 15px; 
        }

        .container-footer {
            flex-wrap: nowrap;
            align-items: baseline;
            gap: 0;  
        }

        .footer-info {
            margin-right: 120px;
            gap: 0;  
        }

        .logo-footer {
            display: inline-block;
            margin: 16px;
        }

        .footer-form {
            flex-wrap: nowrap;
            align-items: center;
            margin-left: auto;
            gap: 24px;
        }

        .footer-social-media {
            padding: 0;
            margin-right: 80px;
        }

        .container-form-footer {
            display: block;  
        }

        .text-soc-footer {
            margin-bottom: 16px; 
        }

        .footer-btn {
            margin: 0;
            align-items: center;
            justify-content: center; 
        }
     }


    

